* {
    box-sizing: border-box;
}

:root {
    --primary: #000000;
    --secondary: #6e06b4;
    --tertiary: rgb(255, 110, 243);
    --grey: #333;
    font-size: 62.5%;
}

body {
    background: #ededed;
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body div div p {
    font-size: 25px;
}

body div div h1 {
    font-size: 25px;
}

.quiz-prompts {
    text-align: center;
}

#timer {
    position: fixed;
    padding: 15px;
    top: 0;
    right: 0;
    font-size: 20px;
}

#score {
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    font-size: 20px;
}

.quiz-content {
    width: auto;
    margin: 0 auto;
    justify-content: center;
}

.btn {
    padding: 10px;
    margin: 0 auto;
    background-color: var(--secondary);
    color: #ededed;
    border: 1px solid var(--grey);

}

.invs {
    display: none;
}